# üìä –ú–∏–Ω–∏-–ø—Ä–æ–µ–∫—Ç: –ê–Ω–∞–ª–∏–∑ –∑–∞–∫–∞–∑–æ–≤ —Å –ø–æ–º–æ—â—å—é SQLite –∏ Pandas

In [ ]:

import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

## –°–æ–∑–¥–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –∏ —Ç–∞–±–ª–∏—Ü—ã

In [ ]:

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    item TEXT,
    quantity INTEGER,
    price REAL,
    order_date TEXT
)
''')

## –ì–µ–Ω–µ—Ä–∞—Ü–∏—è —Ñ–∏–∫—Ç–∏–≤–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –∏ –≤—Å—Ç–∞–≤–∫–∞ –≤ —Ç–∞–±–ª–∏—Ü—É

In [ ]:

np.random.seed(42)
items = ['Book', 'Laptop', 'Pen', 'Headphones', 'Monitor']
dates = pd.date_range(start='2023-01-01', end='2023-03-31', freq='D')
data = [
    (np.random.randint(1, 10), np.random.choice(items),
     np.random.randint(1, 5), round(np.random.uniform(5, 500), 2),
     pd.to_datetime(np.random.choice(dates)).strftime('%Y-%m-%d'))
    for _ in range(100)
]
cursor.executemany('INSERT INTO orders (user_id, item, quantity, price, order_date) VALUES (?, ?, ?, ?, ?)', data)
conn.commit()

## –í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ SQL-–∑–∞–ø—Ä–æ—Å–æ–≤

In [ ]:

queries = {
    "–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤": "SELECT COUNT(*) FROM orders",
    "–û–±—â–∏–π –¥–æ—Ö–æ–¥": "SELECT ROUND(SUM(quantity * price), 2) AS revenue FROM orders",
    "–°—Ä–µ–¥–Ω–∏–π —á–µ–∫": "SELECT ROUND(AVG(quantity * price), 2) AS avg_order FROM orders",
    "–°–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π —Ç–æ–≤–∞—Ä": "SELECT item, COUNT(*) AS freq FROM orders GROUP BY item ORDER BY freq DESC LIMIT 1",
    "–î–æ—Ö–æ–¥ –ø–æ –¥–Ω—è–º": '''
        SELECT order_date, ROUND(SUM(quantity * price), 2) as daily_revenue 
        FROM orders GROUP BY order_date ORDER BY order_date
    '''
}

results = {}
for title, q in queries.items():
    results[title] = pd.read_sql_query(q, conn)
    print(f"--- {title} ---")
    display(results[title])

## –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –¥–æ—Ö–æ–¥–∞ –ø–æ –¥–Ω—è–º

In [ ]:

daily = results["–î–æ—Ö–æ–¥ –ø–æ –¥–Ω—è–º"]
daily['order_date'] = pd.to_datetime(daily['order_date'])
plt.figure(figsize=(12, 5))
plt.plot(daily['order_date'], daily['daily_revenue'], marker='o')
plt.title('–î–æ—Ö–æ–¥ –ø–æ –¥–Ω—è–º')
plt.xlabel('–î–∞—Ç–∞')
plt.ylabel('–î–æ—Ö–æ–¥')
plt.grid(True)
plt.tight_layout()
plt.show()

## –ó–∞–∫—Ä—ã—Ç–∏–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è —Å –ë–î

In [ ]:
conn.close()