# üß™ CSV Analyzer Automation 

–ü—Ä–æ–µ–∫—Ç –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω –¥–ª—è –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü–∏–∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –≤ —Ñ–æ—Ä–º–∞—Ç–µ CSV.  
–û–Ω –≤—ã–ø–æ–ª–Ω—è–µ—Ç:

- –±–∞–∑–æ–≤—ã–π —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑
- –ø–æ–∏—Å–∫ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
- —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –æ—Ç—á–µ—Ç–∞ –≤ —Ñ–æ—Ä–º–∞—Ç–µ HTML

## üìí –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –ø—Ä–æ–µ–∫—Ç–∞

1. üì• –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

2. üìä –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö

3. üìà –û—Å–Ω–æ–≤–Ω–æ–π —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑

4. ‚ùì –ü–æ–∏—Å–∫ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π

5. üìÑ –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –æ—Ç—á–µ—Ç–∞ —Å DTale

## –®–∞–≥ 2: –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import pandas as pd
import dtale
from IPython.display import display, HTML
from dtale import show

## –®–∞–≥ 3: –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –ø—Ä–æ—Å–º–æ—Ç—Ä –¥–∞–Ω–Ω—ã—Ö

In [2]:
df = pd.read_csv(r"C:\Users\Markm\Downloads\example_data (2).csv")

In [3]:
display(df.head())

   user_id  age purchase_date        item  quantity   price
0        1   25    2023-01-01        Book         2   12.50
1        2   30    2023-01-02      Laptop         1  599.99
2        3   22    2023-01-03  Headphones         1   99.99
3        4   35    2023-01-04         Pen         5    2.00
4        5   29    2023-01-05     Monitor         1  199.99

## –®–∞–≥ 4: –°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑

In [4]:
# –û—Å–Ω–æ–≤–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ —á–∏—Å–ª–æ–≤—ã–º –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º
summary = df.describe(include='all').T
display(summary)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
user_id,10.0,NaN,NaN,NaN,5.5,3.02765,1.0,3.25,5.5,7.75,10.0
age,10.0,NaN,NaN,NaN,30.7,7.484057,22.0,25.75,29.5,34.0,45.0
purchase_date,10,10,2023-01-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item,10,5,Book,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
quantity,10.0,NaN,NaN,NaN,1.9,1.286684,1.0,1.0,1.5,2.0,5.0
price,10.0,NaN,NaN,NaN,189.044,243.112962,2.0,12.75,94.99,214.99,649.99

## –®–∞–≥ 5: –ü–æ–∏—Å–∫ –ø—Ä–æ–ø—É—Å–∫–æ–≤

In [5]:
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ
missing = df.isnull().sum()
summary["Missing Values"] = missing
display(summary)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,Missing Values
user_id,10.0,NaN,NaN,NaN,5.5,3.02765,1.0,3.25,5.5,7.75,10.0,0
age,10.0,NaN,NaN,NaN,30.7,7.484057,22.0,25.75,29.5,34.0,45.0,0
purchase_date,10,10,2023-01-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
item,10,5,Book,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
quantity,10.0,NaN,NaN,NaN,1.9,1.286684,1.0,1.0,1.5,2.0,5.0,0
price,10.0,NaN,NaN,NaN,189.044,243.112962,2.0,12.75,94.99,214.99,649.99,0

## –®–∞–≥ 6: –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –∏ –∞–Ω–∞–ª–∏–∑ —Å –ø–æ–º–æ—â—å—é Dtale

In [6]:
d = dtale.show(df)

In [7]:
d.open_browser()

## –®–∞–≥ 7. –†–∞–±–æ—Ç–∞ —Å –¥–∞–Ω–Ω—ã–º–∏

In [8]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö —Å –ø–æ–º–æ—â—å—é pandas
filtered_data = df[df['price'] > 10]  # –ü—Ä–∏–º–µ—Ä —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö –ø–æ –∑–Ω–∞—á–µ–Ω–∏—é —Å—Ç–æ–ª–±—Ü–∞

# –û—Ç–∫—Ä—ã–≤–∞–µ–º –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å dtale –¥–ª—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏
d = dtale.show(filtered_data)
d.open_browser()

In [9]:
# –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Ç–æ–ª–±—Ü—É "price" –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é
sorted_data = df.sort_values(by="price", ascending=True)
# –û—Ç–∫—Ä—ã–≤–∞–µ–º –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å dtale –¥–ª—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏
d = dtale.show(sorted_data)
d.open_browser()

In [10]:
# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ —Ç–æ–≤–∞—Ä—É —Å –≤—ã—á–∏—Å–ª–µ–Ω–∏–µ–º —Å—É–º–º—ã –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É
grouped_data = df.groupby('item')['quantity'].sum()

# –û—Ç–∫—Ä—ã–≤–∞–µ–º –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å dtale –¥–ª—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏
d = dtale.show(grouped_data)
d.open_browser()

In [11]:
# –§—É–Ω–∫—Ü–∏—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö
def analyze_data(data):
    print("–¢–æ–ø 5 —Å—Ç—Ä–æ–∫:")
    print(data.head())
    print("\n–û–±—â–µ–µ –æ–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö:")
    print(data.describe())
    print("\n–ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –ø—Ä–æ–ø—É—Å–∫–∏:")
    print(data.isnull().sum())
    
analyze_data(df)

# –û—Ç–∫—Ä—ã–≤–∞–µ–º –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å dtale
d = dtale.show(df)

–¢–æ–ø 5 —Å—Ç—Ä–æ–∫:
   user_id  age purchase_date        item  quantity   price
0        1   25    2023-01-01        Book         2   12.50
1        2   30    2023-01-02      Laptop         1  599.99
2        3   22    2023-01-03  Headphones         1   99.99
3        4   35    2023-01-04         Pen         5    2.00
4        5   29    2023-01-05     Monitor         1  199.99

–û–±—â–µ–µ –æ–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö:
        user_id        age   quantity       price
count  10.00000  10.000000  10.000000   10.000000
mean    5.50000  30.700000   1.900000  189.044000
std     3.02765   7.484057   1.286684  243.112962
min     1.00000  22.000000   1.000000    2.000000
25%     3.25000  25.750000   1.000000   12.750000
50%     5.50000  29.500000   1.500000   94.990000
75%     7.75000  34.000000   2.000000  214.990000
max    10.00000  45.000000   5.000000  649.990000

–ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –ø—Ä–æ–ø—É—Å–∫–∏:
user_id          0
age              0
purchase_date    0
item             0
quantity         0
price            0
dtype: int64

## –®–∞–≥ 8: –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ HTML-–æ—Ç—á–µ—Ç–∞ c Dtale

In [12]:
with open("report.html", "w", encoding="utf-8") as f:
    f.write("<h2>CSV Report with DTale</h2>")
    f.write(summary.to_html(escape=False))

In [13]:
HTML("report.html")

## –®–∞–≥ 8: –ò—Ç–æ–≥

‚úÖ –û—Ç—á–µ—Ç —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω –≤ `report.html`  
–ú–æ–∂–Ω–æ –æ—Ç–∫—Ä—ã—Ç—å —Ñ–∞–π–ª –≤ –±—Ä–∞—É–∑–µ—Ä–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∞–Ω–∞–ª–∏–∑–∞