# üß™ CSV Analyzer Automation 

–ü—Ä–æ–µ–∫—Ç –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω –¥–ª—è –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü–∏–∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –≤ —Ñ–æ—Ä–º–∞—Ç–µ CSV.  
–û–Ω –≤—ã–ø–æ–ª–Ω—è–µ—Ç:

- –±–∞–∑–æ–≤—ã–π —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑
- –ø–æ–∏—Å–∫ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
- —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –æ—Ç—á–µ—Ç–∞ –≤ —Ñ–æ—Ä–º–∞—Ç–µ HTML

## üìí –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –ø—Ä–æ–µ–∫—Ç–∞

1. üì• –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

2. üìä –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö

3. üìà –û—Å–Ω–æ–≤–Ω–æ–π —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑

4. ‚ùì –ü–æ–∏—Å–∫ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π

5. üìÑ –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –æ—Ç—á–µ—Ç–∞ —Å DTale

## –®–∞–≥ 2: –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import pandas as pd
import dtale
from IPython.display import display, HTML

## –®–∞–≥ 3: –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –ø—Ä–æ—Å–º–æ—Ç—Ä –¥–∞–Ω–Ω—ã—Ö

In [2]:
data = {
    "–ù–∞–∑–≤–∞–Ω–∏–µ": ["–¢–æ–≤–∞—Ä 1", "–¢–æ–≤–∞—Ä 2", "–¢–æ–≤–∞—Ä 3"],
    "–¶–µ–Ω–∞": [100, 150, 200],
    "–ö–∞—Ç–µ–≥–æ—Ä–∏—è": ["–≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞", "–ë—ã—Ç–æ–≤–∞—è —Ç–µ—Ö–Ω–∏–∫–∞", "–û–¥–µ–∂–¥–∞"]
}

df = pd.DataFrame(data)

# –°–æ—Ö—Ä–∞–Ω—è–µ–º CSV —Å –∫–æ–¥–∏—Ä–æ–≤–∫–æ–π UTF-8
df.to_csv('example_data_utf8.csv', encoding='utf-8', index=False)

# –ü–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü—ã
display(df.head())

  –ù–∞–∑–≤–∞–Ω–∏–µ  –¶–µ–Ω–∞        –ö–∞—Ç–µ–≥–æ—Ä–∏—è
0  –¢–æ–≤–∞—Ä 1   100      –≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞
1  –¢–æ–≤–∞—Ä 2   150  –ë—ã—Ç–æ–≤–∞—è —Ç–µ—Ö–Ω–∏–∫–∞
2  –¢–æ–≤–∞—Ä 3   200           –û–¥–µ–∂–¥–∞

## –®–∞–≥ 4: –°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑

In [3]:
# –û—Å–Ω–æ–≤–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ —á–∏—Å–ª–æ–≤—ã–º –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º
summary = df.describe(include='all').T
display(summary)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
–ù–∞–∑–≤–∞–Ω–∏–µ,3,3,–¢–æ–≤–∞—Ä 1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
–¶–µ–Ω–∞,3.0,NaN,NaN,NaN,150.0,50.0,100.0,125.0,150.0,175.0,200.0
–ö–∞—Ç–µ–≥–æ—Ä–∏—è,3,3,–≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## –®–∞–≥ 5: –ü–æ–∏—Å–∫ –ø—Ä–æ–ø—É—Å–∫–æ–≤

In [4]:
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ
missing = df.isnull().sum()
summary["Missing Values"] = missing
display(summary)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,Missing Values
–ù–∞–∑–≤–∞–Ω–∏–µ,3,3,–¢–æ–≤–∞—Ä 1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
–¶–µ–Ω–∞,3.0,NaN,NaN,NaN,150.0,50.0,100.0,125.0,150.0,175.0,200.0,0
–ö–∞—Ç–µ–≥–æ—Ä–∏—è,3,3,–≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## –®–∞–≥ 6: –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –∏ –∞–Ω–∞–ª–∏–∑ —Å –ø–æ–º–æ—â—å—é Dtale

In [5]:
d = dtale.show(df)

In [6]:
d.open_browser()

## –®–∞–≥ 7: –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ HTML-–æ—Ç—á–µ—Ç–∞ c Dtale

In [7]:
with open("report.html", "w", encoding="utf-8") as f:
    f.write("<h2>CSV Report with DTale</h2>")
    f.write(summary.to_html(escape=False))

In [8]:
HTML("report.html")

## –®–∞–≥ 8: –ò—Ç–æ–≥

‚úÖ –û—Ç—á–µ—Ç —Å—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω –≤ `report.html`  
–ú–æ–∂–Ω–æ –æ—Ç–∫—Ä—ã—Ç—å —Ñ–∞–π–ª –≤ –±—Ä–∞—É–∑–µ—Ä–µ –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∞–Ω–∞–ª–∏–∑–∞